<h3>{{errorMsg}}</h3>

<br>
<div class="container">
    <div class="row">

        <div class="col">
          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Deal Type
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Value1</a></li>
                <li><a href="#">Value2</a></li>
                <li><a href="#">Value3</a></li>
              </ul>
            </div>
          </div>

          <div class="col">
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Deal Size
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a href="#">Value1</a></li>
                      <li><a href="#">Value2</a></li>
                      <li><a href="#">Value3</a></li>
                  </ul>
                </div>
              </div>
              <div class="col">
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Deal Status
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="#">Value1</a></li>
                          <li><a href="#">Value2</a></li>
                          <li><a href="#">Value3</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                      <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Deal Archetype
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                              <li><a href="#">Value1</a></li>
                              <li><a href="#">Value2</a></li>
                              <li><a href="#">Value3</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col">
                          <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Deal Lead
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Value1</a></li>
                                  <li><a href="#">Value2</a></li>
                                  <li><a href="#">Value3</a></li>
                              </ul>
                            </div>
                          </div>

                          <div class="col">
                              <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Artefacts
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                      <li><a href="#">Value1</a></li>
                                      <li><a href="#">Value2</a></li>
                                      <li><a href="#">Value3</a></li>
                                  </ul>
                                </div>
                              </div>
</div>
</div>

<br>

<!-- Active Deals -->
<div class="container">
    <div class="panel-group" style="width: 125%">
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>ALL DEALS({{allDealsCount}})</strong>
        <div class="btn-group pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
                <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="fontsmall">Edit</a></li>
                        <li><a href="#" class="fontsmall">Customise</a></li>
                        <li><a href="#" class="fontsmall">Reorder</a></li>                  
                      </ul>
              </div>
            </div>
      <div class="panel-body">
          <div class="row">
              <div  *ngFor="let deal of activeDeals | async ; let i =index">
                  
              <div class="col">
                    <app-deal [dealData]="deal"></app-deal>
            </div>
          </div>
          <div  *ngFor="let deal of followedDeals  | async ; let i =index">
          <div class="col">
                <app-deal [dealData]="deal"></app-deal>
            </div>
        </div>

      <div  *ngFor="let deal of InactiveDeals  | async ; let i =index">
      <div class="col">
            <app-deal [dealData]="deal"></app-deal>
            </div>
        </div>
       </div>

      </div>
    </div>
  </div>
</div>
