

<div class="cui" style="padding-top: 14px;padding-left: 18px;width: 123%;">
  <div class=" hero hero--loose hero--background-5 bodycomp" style="max-height: 60px;">
      <div class="container">
          <div class="hero__content">
       <p class="headline" style="margin-top: -48px;">
         <b>Announcement Headline</b><br/>
    Introduction and details about the announcement &nbsp;&nbsp;&nbsp; <a href="https://cisco.jiveon.com" target="_blank"><u>Find out more></u></a></p>
          </div>
      </div>
  </div>
  </div>