html, body {
  /*height: 100% !important;*/
  margin:0;
}

body{
  background-image :none !important;
  background-color:#F2F2F2;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #2d5895;
  text-decoration:none;
  outline:0;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}
.navPills>li.active>a{
  background-color: #049FD9 !important;
}
.navPills>li{
  margin-top:0 !important;
}
.navPills>li>a{
  padding: 20px 15px;
  border-radius: 0;
  color:#049FD9;
  font-weight:bold;
  border-bottom:1px solid #ccc;
}
.side_nav{
  background-color: #fff;
  padding-left:0;padding-right:0;
  margin-top: -75px;
  margin-left: 0px;
  margin-bottom: -100px;

}
.side_nav .navbar{
  margin-bottom:0;
}
.footer{
  margin:0px;
  padding-top:10px;
  background-color:#E4E4E4;
  padding-bottom: 5px; 
  height: 100px;
  
}
.footer ul{
  margin-bottom:0;
}

.header .header-bar__logo span.icon-cisco {
  display: block;
  color: #049fd9;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10px;
}

.header-heading h3{
  margin-top:10px;
}

.header-toolbar{
  text-align: right;
  margin-top: 8px;
}
.logo-blue {
  color: #049fd9;
}

.cisco_icon_style {
  font-size: 45px;
  text-align: center;
  margin-left: 75px;
  color: #049FD9 !important;
  margin-top: 25px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 110px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.header-custom-style{
  background:#dfdfdf;
  height:50px;
  margin-top:2px;
  margin-right: -15px;
  }
  .cui .btn--primary-ghost {
    border: 1px solid #049fd9;    
}
/* You can add global styles to this file, and also import other style files */

.fontsmall {
  font-size: x-small;
  white-space: nowrap;
}
