<div class="side_nav left-side-content" style="margin-top: -75px;margin-bottom: -100px; height: 100% ;width:245px">
        <div class="header-bar__logo">
          <span class="icon-cisco cisco_icon_style" ></span>
        </div>
          <div class="navbar" style="margin-top: 32px;">
              <ul class="nav nav-pills nav-stacked navPills">
                  <li [routerLinkActive]="['active']"><a [routerLink] = "['/MyDeals']">My Deals</a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink] = "['/AllDeals']">All Deals</a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink] = "['/Methodology']">Methodology</a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink] = "['/LearningandDevelopment']">Learning & Development</a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink] = "['/Initiatives']">Initiatives</a></li>
                  <li [routerLinkActive]="['active']" (click)="toggleDropDown()"><a [routerLink] = "['/QuickTools']">Quick Tools</a>
                    <ul class="navItem"  *ngIf="showDropDown">
                        <li [routerLinkActive]="['active']"><a class="item" [routerLink] = "['/dip']">DIP</a></li>
                          
                    </ul>
                  </li>
                  <li [routerLinkActive]="['active']"><a [routerLink] = "['/AllTools']">All Tools</a></li>
              </ul>      
            </div>
    </div>