<!-- begin:footer component-->
<section class="footer row">
 
  <div class="col-sm-2 col-sm-offset-3 ">
      <ul>
          <li>Privacy Statement</li>
          <li>Cookie Policy</li>
          <li>Trademarks</li>
        </ul>
  </div>
  <div class="col-sm-1 col-sm-offset-3 pull-right" style="margin-top:10px">
        <img src="assets/platform/custom/img/ciscogrey.png" alt="Cisco Logo">
    </div>
  <div class="col-sm-3 pull-right" style="margin-top:10px">
      <ul>
          <li>Copyright 2018 Cisco Systems Inc</li>
          <li>All rights reserved</li>
        </ul>
  </div>
  
</section>

<!-- end:footer component-->