
<h3>{{errorMsg}}</h3>
<!-- Active Deals -->

<div class="container">
    <div class="panel-group" style="width: 125%">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <strong>ACTIVE DEALS({{activeDealsCount | async}})</strong>
          <div class="btn-group pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
                <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="fontsmall">Edit</a></li>
                        <li><a href="#" class="fontsmall">Customise</a></li>
                        <li><a href="#" class="fontsmall">Reorder</a></li>                  
                      </ul>
              </div>
        </div>

      <div class="panel-body">
          <div class="row">
              <div  *ngFor="let deal of activeDeals$ | async | paginate: { itemsPerPage: 4, currentPage: activeDealsCurrpg,id: 'active' }; let i =index ">                  
              <div class="col">
                    <app-deal [dealData]="deal"></app-deal>
            </div>          
            </div>


       </div>
      </div>
      <div class="text-center">
            <pagination-controls (pageChange)="activeDealsCurrpg = $event" id= "active"></pagination-controls>
     </div>
     



    </div>
  </div>
</div>


<div class="container" >
<div class="row" style="width: 128%">

  <!-- followed Deals -->
    <div class="col-md-6">
    <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><strong>FOLLOWED DEALS({{followedDealsCount | async}})</strong>
      <div class="btn-group pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
            <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="fontsmall">Edit</a></li>
                    <li><a href="#" class="fontsmall">Customise</a></li>
                    <li><a href="#" class="fontsmall">Reorder</a></li>                  
                  </ul>
          </div>
        </div>
      <div class="panel-body">
          <div class="row">


              <div  *ngFor="let deal of followedDeals$ | async | paginate: { itemsPerPage: 2, currentPage: followDealsCurrpg ,id:'followed'}; let i =index">
                  
              <div class="col">
                    <app-deal [dealData]="deal"></app-deal>
                </div>          
            </div>
           
     </div>
      </div>
      <div class="text-center">
            <pagination-controls (pageChange)="followDealsCurrpg = $event" id="followed"></pagination-controls>
        </div>
</div>
      </div>          
      </div>

      <!-- Inactive Deals -->
      <div class="col-md-6">
          <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-heading"><strong>INACTIVE DEALS({{inactiveDealsCount | async}})</strong>
            <div class="btn-group pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical"></span></a>                
                    <ul class="dropdown-menu" role="menu">
                            <li><a href="#" class="fontsmall">Edit</a></li>
                            <li><a href="#" class="fontsmall">Customise</a></li>
                            <li><a href="#" class="fontsmall">Reorder</a></li>                  
                          </ul>
                  </div>
                </div>
            <div class="panel-body">
                <div class="row">
      
      
                    <div  *ngFor="let deal of InactiveDeals$ | async | paginate: { itemsPerPage: 2, currentPage: inActiveDealsCurrpg ,id:'inactive'}; let i =index">                        
                    <div class="col">
                            <app-deal [dealData]="deal"></app-deal>
                    </div>                
                    </div>
                                  
                </div>      
            </div>
            <div class="text-center">
                    <pagination-controls (pageChange)="inActiveDealsCurrpg = $event" id="inactive"></pagination-controls>
                </div> 
            </div>

    </div>
  </div>

</div>
</div>