<div class="panel panel-default">
    <div class="panel-heading"><span style="color:#047fad"> {{deal.targetCompanyName}} </span>
          <div class="btn-group pull-right">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-option-vertical" style="color:#047fad"></span></a>                
                  <ul class="dropdown-menu" role="menu">                         
                          <li><a href="#" class="fontsmall">follow</a></li>
                          
                        </ul>
                </div>            
     
  </div>              
    <div class="panel-body">
        <div class="row">
          <div class="col">  <p class="fontsmall">BU Name :  </p></div>
          <div class="col">  <p class="fontsmall">Deal Type : {{deal.dealType}}</p> </div>
          <div class="col">  <p class="fontsmall">Deal Archetype : {{deal.marketSegment}}</p> </div>
        </div>

        <div><p class="fontsmall">Stage 1 :{{deal.transactionStage}} </p></div>

        <div class="row">
            <div class="col">  <p class="fontsmall">GTM/OFFER</p>  </div>
            <div class="col">  <p class="fontsmall">CULTURE/CALLAB</p>  </div>
            <div class="col">  <p class="fontsmall">CAPABILITIES</p>  </div>
            <div class="col">  <p class="fontsmall" >ROADMAP</p>  </div>
            <div class="col">  <p class="fontsmall">VDDS</p>  </div>
            <div class="col">  <p class="fontsmall">END STATE</p>  </div>
          </div>

          <div class="row cui">                        
                  <div class="col"><button class="btn btn--primary btn--small">{{btnDNAText}}</button></div>
                  <div class="col"><button class="btn btn--primary-ghost btn--small">{{btnDetailsText}}</button></div>
              
              </div>

    
  </div>
  </div>
